 <li><h1> <%=link_to "Sign Out", destroy_user_session_path %></h1></li>
<h3> Dash board </h3>

<h4>Welcome to activ contacts </h4>
Searches</br>
There are 10 searches are made so far<%= link_to "Search",'/fetch'%>



